<html>
<head>
  <title>smaps</title>
  <script src="/ajax/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
  <script src="/ajax/libs/datatables/1.10.9/jquery.dataTables.min.js" charset="utf-8"></script>
  <script src="/ajax/libs/datatables/buttons/1.0.3/dataTables.buttons.min.js" charset="utf-8"></script>
  <script src="/ajax/libs/datatables/buttons/1.0.3/buttons.html5.min.js" charset="utf-8"></script>
  <script src="/ajax/libs/jszip/2.5.0/jszip.min.js" charset="utf-8"></script>

  <link rel="stylesheet" type="text/css" href="/ajax/libs/datatables/1.10.9/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/ajax/libs/datatables/buttons/1.0.3/buttons.dataTables.min.css"/> 
</head>
<style>
div.command {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  overflow:scroll;
}
div.container {
  position: fixed;
  top: 0px;
  left: 300px;
  height: 100%;
  overflow:scroll;
}
div.settings {
  position: fixed;
  top: 0px;
  left: 500px;
  height: 20px;
  overflow:none;
}
</style>
<script>

var showSmapsDatatable = function(id, data) {
  $("#container").empty();
  $("#container").html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%" height="100%"></table>');
  $("#container").width( $(document).width() - 300 );

  $("#example").DataTable( {
    data: data,
    columns: [
      {"data": "start"         , "title" : "start"         , "visible": false },
      {"data": "end"           , "title" : "end"           , "visible": false },
      {"data": "flags"         , "title" : "flags"                            },
      {"data": "pgoff"         , "title" : "pgoff"         , "visible": false },
      {"data": "dev"           , "title" : "dev"           , "visible": false },
      {"data": "ino"           , "title" : "ino"           , "visible": false },
      {"data": "name"          , "title" : "name"                             },
      {"data": "Size"          , "title" : "Size"                             },
      {"data": "Rss"           , "title" : "Rss"                              },
      {"data": "Pss"           , "title" : "Pss"                              },
      {"data": "Shared_Clean"  , "title" : "Shared_Clean"                     },
      {"data": "Shared_Dirty"  , "title" : "Shared_Dirty"                     },
      {"data": "Private_Clean" , "title" : "Private_Clean"                    },
      {"data": "Private_Dirty" , "title" : "Private_Dirty"                    },
      {"data": "Referenced"    , "title" : "Referenced"    , "visible": false },
      {"data": "Anonymous"     , "title" : "Anonymous"     , "visible": false },
      {"data": "AnonHugePages" , "title" : "AnonHugePages" , "visible": false },
      {"data": "Swap"          , "title" : "Swap"          , "visible": false },
      {"data": "KernelPageSize", "title" : "KernelPageSize", "visible": false },
      {"data": "MMUPageSize"   , "title" : "MMUPageSize"   , "visible": false },
      {"data": "Locked"        , "title" : "Locked"        , "visible": false },
      {"data": "VmFlags"       , "title" : "VmFlags"       , "visible": false }
    ],
    "columnDefs": [
      { className: "dt-body-right", "targets": [ 7,8,9,10,11,12,13 ] }
    ],
    paging: false,
    scrollX: true,
    scrollY: true,
    dom: "Bfrtip",
    buttons: [
      "copyHtml5",
      {
        extend: "excelHtml5",
        title: id + "_smaps"
      }
    ]
  });
};

$(document).ready(function() {
  var table;
  $.ajax({
    type : "GET",
    url : "<%= apiPrefix %>/proc/cmdline",
    success : function(data) {
      table = $("#pid").DataTable( {
        data: data,
        columns: [
          { "data": "pid", "title" : "pid"},
          { "data": "cmdline", "title" : "cmdline"}
        ],
        "columnDefs": [
          { className: "dt-body-right", "targets": [ 0 ] }
        ],
        paging: false,
        scrollX: true,
        scrollY: true,
        dom: "Bfrtip",
        buttons: [
          "copyHtml5",
          {
            extend: "excelHtml5",
            title: "pid"
          }
        ]
      });
    },
    error : function(xhr, status, error) {
      console.log("error : " + error);
      alert(xhr.responseText);
    }
  });

  $('#pid').on('draw.dt', function() {
    $("#pid tbody").on("click", "tr", function() {
      if ( $(this).hasClass("selected") ) {
        //$(this).removeClass("selected");
      }
      else {
        table.$("tr.selected").removeClass("selected");
        $(this).addClass("selected");
      }

      var pid = $(this).find("td:eq(0)").html();
      var cmdline = $(this).find("td:eq(1)").html();

      $.ajax({
        type : "GET",
        url : "<%= apiPrefix %>/smaps/" + pid + "/object",
        success : function(data) {
          $("#name").val(cmdline);
          showSmapsDatatable(pid, data);
        },
        error : function(xhr, status, error) {
          console.log("error : " + error);
        }
      });
    });

    $("#pid tbody").on("dblclick", "tr", function() {
      var pid = $(this).find("td:eq(0)").html();
      var cmdline = $(this).find("td:eq(1)").html();

      //download raw smaps file.
      window.location = "<%= apiPrefix %>/smaps/" + pid + "/raw";
      // $.ajax({
      //   type : "GET",
      //   url : "/smaps/" + pid + "/raw",
      //   success : function(data) {
      //     $("#name").val(cmdline);
      //   },
      //   error : function(xhr, status, error) {
      //     console.log("error : " + error);
      //   }
      // });
    });
  });


  $("html").on("dragover", function(event) {
    event.preventDefault();  
    event.stopPropagation();
    //$(this).addClass("dragging");
  });

  $("html").on("dragleave", function(event) {
    event.preventDefault();  
    event.stopPropagation();
    //$(this).removeClass("dragging");
  });

  $("html").on("drop", function(event) {
    event.preventDefault();  
    event.stopPropagation();

    var file = event.originalEvent.dataTransfer.files[0];  
    var formData = new FormData();
    formData.append("file", file);

    $.ajax({
      type : "POST",
      url : "/file",
      data : formData,
      processData: false,
      contentType: false,        
      success : function(data) {
        $("#name").val(file.name);
        showSmapsDatatable(file.name, data);
      },
      error : function(xhr, status, error) {
        console.log("error : " + error);
      }
    });
  });
});

</script>
</head>
<body>
<div id="process" class="command">
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="pid" width="300" height="100%"></table>
</div>
<div id="container" class="container"></div>
<div id="settings" class="settings">
  Name : <input type="text" id="name" style="width:400px" placeholder="drag-n-drop smaps file || double-click pid to download smaps."></input> 
</div>
  
</body>
</html>